<swiper-container lazy="true" events-prefix="swiper-" pagination="true">
  <swiper-slide *ngFor="let planet of planets">
    <div class="card center" (click)="planetSelected(planet)">
      <img [src]="planet.image" alt="tierra" class="card__image"  [ngStyle]="returnShadow(planet)"  loading="lazy">
      <h3 class="card__title">{{ planet.name }}</h3>
      <span  class="card__button center">
        <i class="space-icons icon__arrow-right"></i>
      </span>
      <span class="card__number"> {{ planet.id }} </span>
    </div>
  </swiper-slide>
</swiper-container>
