
.home {
  background-image: url("../../../assets/img/secundary-background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
  height: 100%;
  flex-direction: column;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  &__container-last {
    width: 100%;
  }

  &__subtitle{
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    width: 100%;
    padding-left: 2rem;
    display: grid;
    position: relative;
    grid-template-columns: 60% 30%;
  }

  &__tabs {
    display: flex;
    justify-content: flex-end;

    &-1 {
      padding: 5px;
      margin-left: 8px;
      display: flex;
      color: white;
      border: 2px solid white;
      border-radius: 7px;
    }

    &-activated {
      color: #F48635;
    }
  }

  &__container {
    margin-top: 10px;
    width: 100%;
  }
}

