.start {
  display: flex;
  background: url("../../../assets/img/main-background.webp");
  background-size: cover;
  height: 100%;
  flex-direction: column;

  &__text {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-top: -100px;
    text-align: center;
  }

  &__slide {
    background: white;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    position: relative;
  }

  &__arrows {
    background: #0D6CC8;
    border-radius: 100px;
    width: 80px;
    height: 100%;
    margin-left: -2px;
    transition: 0.3s all ease;
    justify-content: flex-end;
    padding-right: 8px;
    position: absolute;
    z-index: 2;
  }

  &__slide-text {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    top: 12px;
    right: 20px;
    position: absolute;

     p {
       margin: 0;
     }
  }
}



